DATABASE_URL=
PGSSLMODE=require
PGHOST=
PGDATABASE=
PGUSER=
PGPORT=
RAILWAY_ENVIRONMENT=
AUTOMY_ADMIN_EMAIL=
AUTOMY_ADMIN_PASSWORD=
AUTOMY_ADMIN_USER_ID=
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_WEBHOOK_SECRET=
